.result {
  width: 80%;
  min-width: 300px;
  margin: auto;
  padding: 20px 30px;
  border: 5px inset #42a9d1;
  font-size: 16px;
}

.result .score {
  font-size: 24px;
  border: 2px solid #4883de;
  padding: 10px;
}

.result .score span {
  color: #f31f39;
  font-style: italic;
  font-size: 32px;
}